        <div id="copyright">
            <ul>
                <li>Copyright &copy; 2017-2018 χ Developers. All rights reserved.</li>
                <li>Powered by <a href="https://hexo.io/" style="border-bottom: none;">hexo</a></li>
            </ul>
            <% if(theme.busuanzi.enable === true ) { %>
            	<span id="busuanzi_container_site_pv"><%- date(Date.now(), 'YYYY') %>Visits:<span id="busuanzi_value_site_pv"></span></span>
			<% } else { %>
				<span id="busuanzi_container_site_pv"> <%- date(Date.now(), 'YYYY') %> </span> 
			<% } %>
        </div>